<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1 style="text-align: center;">Correct!</h1>
    <iframe src="https://giphy.com/embed/CEhfnGhTInEcg" width="480" height="303" frameBorder="0" style="margin: 0 35%;" class="giphy-embed" allowFullScreen></iframe>
    <p style="text-align: center;">{{message}}</p>
    <button  style="margin: 0 47%; " type="submit"><a href="/">Dattebayo!</a></button>
</body>
</html>