<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Guess that number!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1 style="text-align: center;" >Let's Play a game!</h1>
    <iframe src="https://giphy.com/embed/APYxbo6wMV5WE" width="480" height="265" frameBorder="0" class="giphy-embed" style="margin: 0 35%;" allowFullScreen></iframe>
    <p style="text-align: center;" >Guess a number between 1 and  100 <br>Do this by changing the url as /guess/(your guess)</p>
    {% if number %}
    <h3 style="text-align: center;">Start Guessing!Baka!</h3>
    {%else%}
    <button  style="margin: 0 45%;" type="submit"><a href="/gen_num">Generate a random number</a></button>
    {%endif%}
</body>
</html>